<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <title>Implementation Manager</title>
  </head>

  <body>
    <h1>Implementation Manager</h1>
    <h3>Control de Implantaciones Santander</h3>
    <div id="root"></div>
</body>

  <script src="bundle.js"></script>

</html>
